* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html {
    background-color: #383342;
    height: 100%;
}

h1, h2, h3, h4 {
    font-family: 'VT323', monospace;
    color: #DCD7E3;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    font-size: 50px;
}

header {
    background-color: #DCD7E3;
    padding-bottom: 20px;
    padding-top: 20px;
}

header .logo {
    width: 75px;
}

header .title {
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
    color: #383342;
}

footer {
    position: fixed;
    bottom: 0;
    height: 20px;
    text-align: center;
    background-color: #DCD7E3;
    width: 100%;
    font-size: x-small;
    padding-top: 5px;
}

.center {
    text-align: center;
    width: 100%;
}

.stage {
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}

.blocks {
    background-color: #383342;
    text-align: center;
}

.block {
    vertical-align: top;
    border: 1px solid #DCD7E3;
    padding: 10px;
    display: inline-block;
    max-width: 300px;
    margin: 20px 10px 20px;
}

.block a {
    text-decoration: none;
    color: #DCD7E3;
}

.hero {
    font-family: 'VT323', monospace;
    font-size: 64px;
    height: 150px;
    line-height: 75px;
    width: 300px;
    vertical-align: top;
}

.hero img {
    padding-top: 10px;
    height: 60px;
}